packrat/lib*/
packrat/src
.Rproj.user
.Rhistory
*.md
*html
packrat/src/
## ignoring cache - too large for github
*cache
## Ignoring compiled documents
*docx
*pdf
example.eps
pepr-pub.tex
*-blx.bib
*-concordance.tex
*.bbl
*.log
*.run.xml
*.synctex.gz

*.eps

*.tex
